﻿<div class="panel panel-primary">
  <div class="panel-heading">

  </div>
  <div class="panel-body">
    <div class="row">
      <!-- <img src="./assets/images/logo.jpg" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/> -->
    </div>
    <div class="row">
      <div class="text-center">Developed by:</div>
      <h3 class="text-center">Rahul </h3>

      <div class="text-center">@rahulbhadhoriya</div>

    </div>
  </div>
</div>
